<!-- block 1 -->
<p>© 2016-2017 Spejdernes Lejr&nbsp;</p>
<p>CVR. Nr. 33690053</p>
<!-- block 2 -->
<h5>Følg med i SL2017</h5>
<h6>Nyhedsbrev</h6>
<p>Få en email når noget nyt er sket, eller der er noget vigtigt du skal vide. Godt til både spejdere, forældre, ledere og andre interesserede.</p>
<!-- block 3 -->
<h6>SOCIAL MEDIER</h6>
<p>Følg os, snak med os, like os, del os. Vi er på alle de her kanaler! Vores officielle hashtag er #sl2017.</p>
<a href="da/foelg">
  <div class="social-holder">
    <span class="link-social facebook white"></span>
    <span class="link-social snap white"></span>
    <span class="link-social insta white"></span>
    <span class="link-social twitter white"></span>
    <span class="link-social youtube white"></span>
    <span class="link-social linked white"></span>
  </div>
</a>
<!-- block 4 -->
<h5>Kontakt</h5>
<h6>Lejrens callcenter</h6>
<p><a href="mailto:info@sl2017.dk">info@sl2017.dk</a></p>
<h6>SEKRETARIATET</h6>
<p><a href="mailto:spejder@example.com">mail@sl2017.dk</a></p>
<p><a href="tel:32640090">32640090</a></p>
<h6>PRESSEKONTAKT</h6>
<p>Kommunikationskonsulent</p>
<p>Rasmus Kjølby</p>
<p><a href="mailto:rk@sl2017.dk">rk@sl2017.dk</a></p>
<p><a href="tel:20716121">20716121</a></p>
