@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
}

/**
 * Breakpoints.
 */
@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FB Hermes";
  src: url("../fonts/FB Hermes Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.span-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}

.span-1:last-child {
  margin-right: 0;
}

.push-1 {
  margin-left: 8.5298%;
}

.span-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}

.span-2:last-child {
  margin-right: 0;
}

.push-2 {
  margin-left: 17.05961%;
}

.span-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}

.span-3:last-child {
  margin-right: 0;
}

.push-3 {
  margin-left: 25.58941%;
}

.span-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}

.span-4:last-child {
  margin-right: 0;
}

.push-4 {
  margin-left: 34.11922%;
}

.span-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

.span-5:last-child {
  margin-right: 0;
}

.push-5 {
  margin-left: 42.64902%;
}

.span-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.span-6:last-child {
  margin-right: 0;
}

.push-6 {
  margin-left: 51.17883%;
}

.span-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}

.span-7:last-child {
  margin-right: 0;
}

.push-7 {
  margin-left: 59.70863%;
}

.span-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}

.span-8:last-child {
  margin-right: 0;
}

.push-8 {
  margin-left: 68.23843%;
}

.span-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}

.span-9:last-child {
  margin-right: 0;
}

.push-9 {
  margin-left: 76.76824%;
}

.span-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}

.span-10:last-child {
  margin-right: 0;
}

.push-10 {
  margin-left: 85.29804%;
}

.span-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
}

.span-11:last-child {
  margin-right: 0;
}

.push-11 {
  margin-left: 93.82785%;
}

.span-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.span-12:last-child {
  margin-right: 0;
}

.push-12 {
  margin-left: 102.35765%;
}

@media screen and (min-width: max-width 1024px 12) {
  [class*='span-'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  [class*='span-']:last-child {
    margin-right: 0;
  }
  [class*='push-'] {
    margin-left: 0%;
  }
}

.clear {
  clear: left;
}

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

header:last-child {
  margin-right: 0;
}

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

main:last-child {
  margin-right: 0;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
}

/**
 * Breakpoints.
 */
@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FB Hermes";
  src: url("../fonts/FB Hermes Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .layout-item.span-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .layout-item.span-4:last-child {
    margin-right: 0;
  }
}

.layout-item.paragraph--type--text.clear {
  clear: both;
}

@media screen and (max-width: 768px) {
  [class*='span-'].layout-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    float: left !important;
  }
  [class*='span-'].layout-item:last-child {
    margin-right: 0;
  }
  [class*='span-'].span-align-right {
    margin-left: 0;
  }
}

.span-align-right {
  float: right;
  margin-right: 0;
  margin-left: 35px;
}

.span-default:not(.paragraph--type--text):not('.path-frontpath .span-default') {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: none;
  display: inline-block;
}

.span-default:not(.paragraph--type--text):not('.path-frontpath .span-default'):last-child {
  margin-right: 0;
}

.span-break {
  margin-right: 0;
}

body {
  font-family: Calibri, sans-serif;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.42857em;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

p {
  color: #5a5a5a;
  line-height: 155%;
  font-size: 1.3em;
  margin-bottom: 32px;
}

@media screen and (max-width: 772px) {
  p {
    font-size: 1.2em;
  }
}

.node__content .summary {
  margin-bottom: 25px;
  font-size: 1.64286em;
  line-height: 145%;
  font-family: "Calibri Bold", sans-serif;
  text-align: center;
  color: black;
}

@media screen and (max-width: 772px) {
  .node__content .summary {
    margin-bottom: 15px;
    font-size: 1.35714em;
    line-height: 130%;
  }
}

.paragraph--type--text {
  color: #5a5a5a;
}

.paragraph--type--text ul,
.paragraph--type--text ol {
  font-size: 1.5em;
  color: #746860;
}

.paragraph--type--text ul li,
.paragraph--type--text ol li {
  margin-bottom: 11px;
  line-height: 140%;
}

.paragraph--type--text ul {
  list-style: none;
}

.paragraph--type--text ul li {
  padding-left: 23px;
  background-image: url("../svg/arrow_right.svg");
  background-position: 0px 50%;
  background-size: 11px;
  background-repeat: no-repeat;
}

.paragraph--type--text ol li {
  margin-left: 23px;
  padding-left: 0;
}

.text-formatted p:last-child {
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  color: #2bb6b7;
  text-decoration: underline;
}

.dark a, a.dark, .dark
a:visited,
a:visited.dark, .dark
a:active,
a:active.dark {
  color: black;
}

.download-item a {
  padding-left: 30px;
  background-image: url("../svg/download_black.svg");
  background-position: 0 50%;
  background-size: 22px;
  background-repeat: no-repeat;
}

ul.download-list {
  padding-left: 0;
  list-style: none;
}

.download-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.trompet {
  text-transform: uppercase;
  font-family: 'FB Hermes', sans-serif;
}

ul, ol {
  padding-left: 0;
}

ul.centered li, ol.centered li {
  text-align: center;
  list-style-type: none;
}

blockquote {
  margin-right: 10%;
  margin-bottom: 18px;
  margin-left: 10%;
  padding: 10px 20px 20px;
  border-bottom: 3px dashed #e2e2e2;
  border-left: 5px none #e2e2e2;
  color: #a79d96;
  font-size: 1.5em;
  line-height: 145%;
  text-align: center;
}

@media screen and (max-width: 772px) {
  blockquote {
    font-size: 1.2em;
  }
}

.quote-name {
  margin-bottom: 41px;
  padding-right: 10%;
  padding-left: 10%;
  color: #837870;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}

.quote-name a {
  color: inherit;
  text-decoration: none;
}

.quote-name a:hover {
  text-decoration: underline;
  color: #2bb6b7;
}

@media screen and (max-width: 772px) {
  .quote-name {
    font-size: 1.2em;
  }
}

/**
 * Frontpage quote
 *
 * The qoute has a different styling on the frontpage, because it is
 * being used for introbox on the frontpage.
 */
.path-frontpage blockquote {
  font-family: 'FB Hermes', sans-serif;
  color: #2bb6b7;
  font-size: 2em;
  line-height: 140%;
  text-align: center;
  border: none;
  margin: 0 0 20px;
}

@media screen and (max-width: 772px) {
  .path-frontpage blockquote {
    font-size: 1.3em;
  }
}

.path-frontpage .quote-name {
  font-family: 'FB Hermes', sans-serif;
  color: #a79d96;
  font-size: 1.3em;
  font-style: normal;
}

.path-frontpage .paragraph--type--quote {
  padding-left: 20%;
  padding-right: 20%;
  margin: 25px auto;
}

@media screen and (max-width: 1024px) {
  .path-frontpage .paragraph--type--quote {
    padding: 20px;
    margin: 0;
  }
}

.factbox {
  position: relative;
  min-height: 100px;
  min-width: 200px;
  margin-bottom: 15px;
  padding: 30px 27px 20px;
  border-radius: 2px;
  color: white;
}

.factbox.red {
  background-color: #e1477d;
  background-image: linear-gradient(180deg, #e1477d, #b11149);
}

.factbox h2 {
  margin-bottom: 18px;
  font-family: 'FB Hermes', sans-serif;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 17px;
  border-bottom: 2px dashed;
}

.factbox p {
  margin-bottom: inherit;
}

.factbox.red h2 {
  color: white;
  border-bottom-color: rgba(255, 255, 255, 0.57);
}

.factbox.dark h2 {
  color: #a79d96;
  border-bottom-color: #a79d96;
}

.factbox, .factbox p {
  font-size: 1.14286em;
  font-family: Calibri Bold, sans-serif;
}

.text-formatted.invert-color * {
  color: white;
}

.factbox.dark {
  color: #837870;
}

.facebook-share {
  height: 1em;
  text-align: center;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #c2c2c2;
  min-width: 300px;
  height: 50px;
  padding-left: 16px;
  float: left;
  font-size: 1.3em;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  text-shadow: none;
  border-radius: 30px;
  background-color: #e1477d;
  color: #fff;
  text-shadow: 1px 1px 1px #333333;
  margin: 0.85714em;
  font-size: 1.2em;
  font-family: 'FB Hermes', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 20px;
}

.gray-gradient, .three-col-deck .deck-inner {
  background-image: linear-gradient(180deg, #f3f3f3, #d9d9d6);
}

.turquoise-gradient, .three-col-deck .focus .deck-inner {
  background-image: linear-gradient(180deg, #bbd7d7, #82a9a9);
}

h1 {
  color: #333333;
}

h2 {
  color: #e1477d;
}

h3,
h4,
h5,
h6 {
  color: black;
}

h1 {
  font-size: 3em;
  font-family: 'FB Hermes', sans-serif;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.28571em;
}

h5 {
  font-size: 1.14286em;
}

h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

.clock {
  text-transform: capitalize;
  font-size: 0;
  font-weight: bold;
  font-family: 'FB Hermes', sans-serif;
}

.clock span {
  font-size: 26.6px;
}

@media screen and (max-width: 1024px) {
  .clock span {
    font-size: 20px;
  }
}

@media screen and (max-width: 772px) {
  .clock span {
    font-size: 16px;
  }
}

.clock span.clock__unit {
  padding-right: 10px;
}

.clock__number {
  color: #333333;
}

.clock__unit {
  color: #c2c2c2;
}

.language-flags {
  list-style-type: none;
  position: fixed;
  top: 6px;
  right: -8px;
  width: auto;
  height: 60px;
  min-width: 100px;
  padding-right: 25px;
  float: none;
}

.language-flags li {
  float: left;
  width: 32px;
}

@media screen and (max-width: 772px) {
  .language-flags {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80px;
    padding-left: 31px;
    margin: 0;
    padding-top: 6px;
  }
}

.language-flag {
  width: 25px;
  height: 50px;
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  float: left;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.language-flag:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.language-flag.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.language-flag--uk {
  background-image: url("../svg/uk.svg");
}

.language-flag--dk {
  background-image: url("../svg/dk.svg");
}

.language-flag--de {
  background-image: url("../svg/de.svg");
}

/**
 * Custom icomoon font.
 */
[class^="icon-"], [class*=" icon-"], .menu--site-menu li.menu-item--expanded > a:before, .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(1) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(2) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(3) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(4) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(5) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(6) a:before, a[href^=tel]:before, a[href^=mailto]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail2:before, a[href^=mailto]:before {
  content: "\ea84";
}

.icon-logo_alt:before {
  content: "\e908";
}

.icon-scout:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(1) a:before {
  content: "\e902";
}

.icon-phone:before, a[href^=tel]:before {
  content: "\e909";
}

.icon-mail:before {
  content: "\e90a";
}

.icon-search:before, .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before {
  content: "\e907";
}

.icon-microphone:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(6) a:before {
  content: "\e901";
}

.icon-watch:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(2) a:before {
  content: "\e903";
}

.icon-piggy_bank:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(5) a:before {
  content: "\e904";
}

.icon-knife:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(3) a:before {
  content: "\e905";
}

.icon-bird:before, .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(4) a:before {
  content: "\e906";
}

.icon-arrow_down:before, .menu--site-menu li.menu-item--expanded > a:before {
  content: "\e900";
}

[class^="menu--site-menu-"], [class*=" menu--site-menu-"] {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  float: left;
  margin-top: 20px;
}

[class^="menu--site-menu-"] li, [class*=" menu--site-menu-"] li {
  display: inline;
}

[class^="menu--site-menu-"] a, [class*=" menu--site-menu-"] a {
  display: inline-block;
  padding: 10px;
}

[class^="menu--site-menu-"] ul.menu, [class*=" menu--site-menu-"] ul.menu {
  text-align: center;
}

@media screen and (max-width: 772px) {
  [class^="menu--site-menu-"] ul.menu, [class*=" menu--site-menu-"] ul.menu {
    text-align: left;
  }
  [class^="menu--site-menu-"] ul.menu li, [class*=" menu--site-menu-"] ul.menu li {
    float: left;
    padding: 4px 0;
  }
}

@media screen and (max-width: 772px) {
  [class^="menu--site-menu-"], [class*=" menu--site-menu-"] {
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    z-index: 9998;
    display: block;
    overflow: auto;
    width: 60%;
    height: 100vh;
    margin: 0;
    padding-top: 70px;
    padding-left: 31px;
    background-color: white;
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.36);
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
  [class^="menu--site-menu-"] a, [class*=" menu--site-menu-"] a {
    padding: 0;
  }
  [class^="menu--site-menu-"].js-mobile-active, [class*=" menu--site-menu-"].js-mobile-active {
    -webkit-transform: translateX(0px) translateY(0px) translateZ(0px);
    -ms-transform: translateX(0px) translateY(0px) translateZ(0px);
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
}

.menu--site-menu {
  font-family: 'FB Hermes', sans-serif;
}

.menu--site-menu a {
  color: black;
}

.menu--site-menu a.is-active:hover {
  color: #2bb6b7;
}

.menu--site-menu__menu-item {
  padding-top: 0;
}

@media screen and (max-width: 772px) {
  .menu--site-menu__menu-item {
    padding: 0;
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > .menu-item {
    margin: 0 40px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu--site-menu.menu-level--0 > .menu-item {
    margin: 0 10px;
    font-size: 0.85714em;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu li a {
    font-size: 1.42857em;
  }
}

@media screen and (max-width: 1024px) {
  .menu--site-menu li a {
    font-size: 1.28571em;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu > li:nth-child(5) > a {
    padding: 15px 19px 10px;
    border-radius: 30px;
    background-color: #e1477d;
    color: #fff;
    text-shadow: 1px 1px 1px #066969;
  }
  .menu--site-menu > li:nth-child(5) > a:hover {
    color: white;
    background-color: #000;
  }
}

.menu--site-menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu--site-menu a:hover {
  color: #2bb6b7;
}

@media screen and (min-width: 773px) {
  .menu--site-menu li.menu-item--expanded > a:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 300ms ease-out;
    float: right;
    position: relative;
    margin-left: 13px;
    font-size: 12px;
    line-height: 1.57143em;
  }
}

@media screen and (max-width: 772px) {
  .menu--site-menu li.menu-item--expanded > a:before {
    content: "";
  }
}

.menu--site-menu li.menu-item--expanded > a.open:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 772px) {
  .menu--site-menu {
    padding: 0;
    position: relative;
    left: auto;
  }
  .menu--site-menu li {
    float: none;
  }
  .menu--site-menu li:last-child a {
    background: none;
    padding: 0;
    text-shadow: none;
  }
  .menu--site-menu > .menu-item {
    margin: 0;
    font-size: 1.21429em;
    padding: 4px 0;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin: 0;
    padding-right: 30px;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li:last-child {
    margin-right: 0;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li li {
    float: none;
  }
}

@media screen and (max-width: 772px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li a {
    margin: 0;
    padding-bottom: 4px;
    border-bottom: 1px dashed #2bb6b7;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
  }
}

@media screen and (max-width: 772px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li a {
    padding: 0;
    border: none;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul > li a li {
    text-align: left;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before {
    float: right;
    font-size: 40px;
    position: relative;
    left: 6px;
    margin-right: 6px;
    top: -7px;
  }
}

@media screen and (max-width: 772px) {
  .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before {
    content: "" !important;
  }
}

@media screen and (max-width: 772px) {
  .menu--site-menu.menu-level--0 .menu-level--2 {
    padding-top: 4px;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin: 0 0 20px;
    text-align: center;
    padding-right: 0;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 772px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    float: none;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 4px 0;
    margin: 0;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li a {
    margin: 0;
    padding-bottom: 4px;
    border-left: 1px dashed #2bb6b7;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li a:before {
    display: block;
    font-size: 70px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 772px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li a:before {
    content: "" !important;
    margin: 0 !important;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(3) a {
    border-right: 1px dashed #2bb6b7;
  }
}

@media screen and (min-width: 773px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) .menu-level--2 li:nth-child(6) a {
    border-right: 1px dashed #2bb6b7;
  }
}

.menu-item--expanded--menu--site-menu {
  list-style-image: none;
  list-style-type: none;
}

@media screen and (max-width: 772px) {
  ul.menu {
    margin-left: 0;
  }
}

@media screen and (min-width: 773px) {
  ul.menu-level--1 {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: white;
    padding: 8vh 10% 13vh;
    margin: 0;
    box-shadow: 0 8px 24px -6px rgba(0, 0, 0, 0.3);
    transition: opacity 350ms, -webkit-transform 250ms;
    transition: opacity 350ms, transform 250ms;
    transition: opacity 350ms, transform 250ms, -webkit-transform 250ms;
  }
  ul.menu-level--1 li {
    text-align: left;
  }
}

@media screen and (max-width: 772px) {
  ul.menu-level--1 {
    opacity: 1;
    position: relative;
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 0 0 0 15px;
  }
  ul.menu-level--1 li {
    float: none;
  }
  ul.menu-level--1 li a {
    padding-left: 16px;
    float: none;
    color: #a79d96;
    margin: 0;
    border: none;
  }
  ul.menu-level--1 li a.is-active {
    color: #a79d96;
  }
}

@media screen and (min-width: 773px) {
  .js-inactive {
    opacity: 0;
    -webkit-transform: translate(0px, -20px) scale(1, 0.95);
    -ms-transform: translate(0px, -20px) scale(1, 0.95);
    transform: translate(0px, -20px) scale(1, 0.95);
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    left: -99999px !important;
    z-index: -9999;
  }
}

@media screen and (min-width: 773px) {
  .js-active {
    opacity: 1;
    -webkit-transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
    display: block;
    z-index: 9999;
  }
}

.logo_alt {
  display: none;
  opacity: 0.5;
}

/**
 * Fixed top menu.
 *
 * The .main-nav-scrolled class is injected by Javascript, and inside this
 * we modify the default desktop styling to be fixed on top of the viewport
 * area.
 */
.main-nav-scrolled {
  -webkit-transform: translateX(0px) translateY(-100%) translateZ(0px);
  transform: translateX(0px) translateY(-100%) translateZ(0px);
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.main-nav-scrolled.js-active {
  -webkit-transform: translateX(0px) translateY(0px) translateZ(0px);
  transform: translateX(0px) translateY(0px) translateZ(0px);
}

@media screen and (max-width: 772px) {
  .main-nav-scrolled {
    display: none !important;
  }
}

.main-nav-scrolled {
  position: fixed !important;
  left: 0px !important;
  top: 0px !important;
  right: 0px !important;
  width: 100%;
  z-index: 3001;
  height: 60px;
  padding-left: 23px;
  border-bottom: 2px dashed #a79d96;
  background-color: rgba(255, 255, 255, 0.95);
}

.main-nav-scrolled [class^="menu--site-menu-"], .main-nav-scrolled [class*=" menu--site-menu-"] {
  margin-top: 0;
  float: none;
}

.main-nav-scrolled .region--header__sonderborg,
.main-nav-scrolled .region--header__tasks,
.main-nav-scrolled .language-flags {
  display: none;
}

.main-nav-scrolled .region--header__logo {
  margin: 0;
  padding: 10px 0;
  width: auto;
}

.main-nav-scrolled #block-camp-branding {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  min-height: 1px;
}

.main-nav-scrolled ul.menu-level--0 {
  margin: 0;
  padding: 12px;
}

.main-nav-scrolled ul.menu-level--0 li a {
  font-size: 1.14286em;
}

.main-nav-scrolled ul.menu-level--0 > li:nth-child(5) {
  position: fixed;
  right: 20px;
  padding: 0;
  margin: 0;
}

.main-nav-scrolled .logo_alt {
  display: block;
  height: 40px;
}

.main-nav-scrolled .logo {
  display: none;
}

.main-nav-scrolled ul.menu-level--0 > li:nth-child(4) > a:before {
  font-size: 26px;
  position: relative;
  left: 17px;
  margin-right: 6px;
  top: -4px;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 40px;
  right: 0px;
  width: 50px;
  z-index: 9999;
  cursor: pointer;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.014px) translateZ(0px);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.014px) translateZ(0px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.014px) translateZ(0px);
}

.menu-toggle.active .menu-toggle__item-1 {
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateX(2px) translateY(5px) translateZ(0px);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateX(2px) translateY(5px) translateZ(0px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateX(2px) translateY(5px) translateZ(0px);
}

.menu-toggle.active .menu-toggle__item-2 {
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg) translateX(0px) translateY(-4px) translateZ(0px);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg) translateX(0px) translateY(-4px) translateZ(0px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg) translateX(0px) translateY(-4px) translateZ(0px);
}

.menu-toggle__item-1, .menu-toggle__item-2 {
  width: 25px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

@media screen and (max-width: 772px) {
  .menu-toggle {
    display: block;
  }
}

#toolbar-administration {
  z-index: 999999;
}

.field--name-field-video {
  margin-bottom: 32px;
}

.image-intro {
  position: relative;
  min-height: 700px;
  letter-spacing: 0.45em;
  margin: 0 0 60px;
  float: left;
  width: 100%;
}

@media screen and (max-width: 1455px) {
  .image-intro {
    margin: 0;
  }
}

@media screen and (max-width: 1260px) {
  .image-intro {
    min-height: 550px;
  }
}

@media screen and (max-width: 610px) {
  .image-intro {
    min-height: 400px;
  }
}

.photo-holder {
  z-index: 112;
  display: block;
  max-height: 550px;
  margin-right: auto;
  margin-left: auto;
  border: 8px solid #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.36);
  overflow: hidden;
  float: left;
  position: absolute;
  overflow: hidden;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.photo-holder img {
  max-width: inherit;
}

.photo-holder:hover {
  -webkit-transform: rotate(2deg) scale(1.1);
  -ms-transform: rotate(2deg) scale(1.1);
  transform: rotate(2deg) scale(1.1);
  z-index: 999;
}

.photo-holder--small {
  max-height: 387px;
}

.photo-holder--medium {
  max-height: 503px;
}

.photo-holder--large {
  max-height: 550px;
  max-width: 522px;
}

.photo-holder--1 {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: calc(5 - 2);
  right: 65%;
  top: 22%;
  left: auto;
  bottom: auto;
  width: 28vw;
  height: 20vw;
}

@media screen and (max-width: 888px) {
  .photo-holder--1 {
    right: 63%;
    top: 23%;
    z-index: 5;
  }
}

.photo-holder--1 img {
  width: 100%;
  height: auto;
}

.photo-holder--1:hover {
  -webkit-transform: rotate(0deg) scale(1.1);
  -ms-transform: rotate(0deg) scale(1.1);
  transform: rotate(0deg) scale(1.1);
}

.photo-holder--2 {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: calc(5 - 1);
  right: 56%;
  top: 14%;
  left: auto;
  bottom: auto;
  width: 21vw;
  height: 26vw;
}

@media screen and (max-width: 1808px) {
  .photo-holder--2 {
    right: 54%;
    top: 11%;
    width: 26vw;
    height: 26vw;
  }
}

@media screen and (max-width: 888px) {
  .photo-holder--2 {
    right: 61%;
    top: 2%;
    width: 28vw;
    height: 29vw;
  }
}

.photo-holder--2 img {
  position: relative;
  height: 100%;
  width: auto;
}

.photo-holder--2:hover {
  -webkit-transform: rotate(-4deg) scale(1.1);
  -ms-transform: rotate(-4deg) scale(1.1);
  transform: rotate(-4deg) scale(1.1);
}

.photo-holder--3 {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: 5;
  left: 5%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 50vw;
  height: 60vw;
}

@media screen and (max-width: 1455px) {
  .photo-holder--3 {
    top: 49px;
    width: 30vw;
    height: 32vw;
  }
}

@media screen and (max-width: 1260px) {
  .photo-holder--3 {
    width: 26vw;
    height: 28vw;
  }
}

@media screen and (max-width: 888px) {
  .photo-holder--3 {
    width: 37vw;
    height: 42vw;
    top: 0;
  }
}

.photo-holder--3 img {
  position: relative;
  height: 100%;
  width: auto;
}

.photo-holder--4 {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: calc(5 - 1);
  left: 60%;
  top: 14%;
  right: auto;
  bottom: auto;
  width: 21vw;
  height: 26vw;
}

@media screen and (max-width: 1808px) {
  .photo-holder--4 {
    top: 11%;
    width: 26vw;
    height: 26vw;
  }
}

@media screen and (max-width: 888px) {
  .photo-holder--4 {
    left: 66%;
    top: 2%;
    width: 28vw;
    height: 29vw;
  }
}

.photo-holder--4 img {
  position: relative;
  height: 100%;
  width: auto;
}

.photo-holder--4::hover {
  -webkit-transform: rotate(4deg) scale(1.1);
  -ms-transform: rotate(4deg) scale(1.1);
  transform: rotate(4deg) scale(1.1);
  z-index: 999;
}

.photo-holder--5 {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: calc(5 - 2);
  left: 72%;
  top: 23%;
  right: auto;
  bottom: auto;
  width: 21vw;
  height: 12vw;
}

@media screen and (max-width: 1808px) {
  .photo-holder--5 {
    height: 13vw;
  }
}

@media screen and (max-width: 1455px) {
  .photo-holder--5 {
    height: 15vw;
  }
}

@media screen and (max-width: 1260px) {
  .photo-holder--5 {
    height: 17vw;
    width: 24vw;
  }
}

@media screen and (max-width: 888px) {
  .photo-holder--5 {
    top: 22%;
    left: 64%;
    z-index: 4;
    width: 27vw;
    height: 19vw;
  }
}

.photo-holder--5 img {
  width: 100%;
  height: auto;
}

.photo-holder--5:hover {
  -webkit-transform: rotate(0deg) scale(1.1);
  -ms-transform: rotate(0deg) scale(1.1);
  transform: rotate(0deg) scale(1.1);
  z-index: 999;
}

.card-gallery__caption {
  display: block;
  padding: 1px 4px;
  float: none;
  font-family: 'FB Hermes', sans-serif;
  color: #000;
  font-size: 1.7em;
  line-height: 145%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
}

.card-gallery__credits {
  display: block;
  font-family: 'FB Hermes', sans-serif;
  color: #a79d96;
  font-size: 0.7em;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  margin: 0;
}

.card-gallery-captions {
  display: none;
  position: absolute;
  left: 25%;
  right: 0px;
  top: 400px;
  z-index: 9999;
  width: 50%;
  min-height: 50px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px dashed #a79d96;
}

@media screen and (min-width: 888px) {
  .card-gallery-captions.__0 {
    left: 9%;
    top: 63%;
  }
  .card-gallery-captions.__1 {
    left: 13%;
    top: 63%;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .card-gallery-captions.__2 {
    left: 25%;
    top: 76%;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  .card-gallery-captions.__3 {
    left: 40%;
    top: 66%;
  }
  .card-gallery-captions.__4 {
    left: 49%;
    top: 46%;
  }
}

@media screen and (max-width: 1455px) {
  .card-gallery-captions {
    top: 530px;
  }
}

@media screen and (max-width: 1260px) {
  .card-gallery-captions {
    top: 400px;
    font-size: 12px;
  }
}

@media screen and (max-width: 888px) {
  .card-gallery-captions {
    top: 370px;
  }
}

@media screen and (max-width: 610px) {
  .card-gallery-captions {
    top: 270px;
  }
}

.link-social {
  display: block;
  width: 30px;
  height: 80%;
  margin-right: 10px;
  margin-left: auto;
  float: left;
}

.link-social:hover {
  opacity: 0.6;
}

.link-social.facebook {
  width: 30px;
  float: left;
  background-image: url("../svg/fb-black.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-social.facebook.white {
  background-image: url("../svg/fb-white.svg");
  background-size: contain;
}

.link-social.snap {
  background-image: url("../svg/snapchat-black.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-social.snap.white {
  background-image: url("../svg/snapchat-white.svg");
  background-size: contain;
}

.link-social.insta {
  background-image: url("../svg/instagram-black.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-social.insta.white {
  background-image: url("../svg/instagram-white.svg");
}

.link-social.twitter {
  padding: 5px;
  background-image: url("../svg/twitter-black.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-social.twitter.white {
  background-image: url("../svg/twitter-white.svg");
}

.link-social.youtube {
  background-image: url("../svg/youtube-black.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-social.youtube.white {
  background-image: url("../svg/youtube-white.svg");
}

.link-social.linked {
  background-image: url("../svg/linkedin-black.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-social.linked.white {
  background-image: url("../svg/linkedin-white.svg");
}

.social-holder {
  width: 50%;
  height: 40px;
}

.social-holder.social-footer {
  width: 100%;
}

.btn, .infomercial-call-ta a, .partners__links a {
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #e1477d;
  font-family: 'FB Hermes', sans-serif;
  color: #fff;
  height: auto;
  padding: 13px 20px;
}

.btn:hover, .infomercial-call-ta a:hover, .partners__links a:hover {
  color: white;
  background-color: #000;
}

a.btn, .infomercial-call-ta a, .partners__links a {
  color: white;
  text-decoration: none;
}

.btn-small, .main-nav-scrolled ul.menu-level--0 > li:nth-child(5) a {
  padding-top: 10px;
  font-size: 1em;
}

.accordion {
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.accordion__header {
  z-index: 10;
  width: 100%;
  border-bottom: 1px dashed #a79d96;
  font-family: 'FB Hermes', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #333333;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion__header:hover {
  background-color: #f8f8f8;
}

.accordion__content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 22px;
  background-color: white;
}

.accordion__arrow {
  position: absolute;
  top: 35%;
  right: 22px;
  font-size: 14px;
}

.accordion__arrow {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 300ms ease-out;
}

.active .accordion__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.paragraph.accordion {
  margin-bottom: 0;
}

.paragraph.accordion + .paragraph:not(.paragraph--type--accordion) {
  margin-top: 50px;
}

/**
 * AddToCalendar Base CSS
 * http://addtocalendar.com
 */
/* Base */
.addtocalendar var {
  display: none;
}

.addtocalendar {
  position: relative;
  display: inline-block;
  background: transparent !important;
}

.atcb-link {
  display: block;
  outline: none !important;
  cursor: pointer;
}

.atcb-link:focus ~ ul,
.atcb-link:active ~ ul,
.atcb-list:hover {
  visibility: visible;
}

.atcb-list {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  z-index: 900;
}

.atcb-list,
.atcb-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.atcb-item {
  float: none;
  text-align: left;
}

.atcb-item-link {
  text-decoration: none;
  outline: none;
  display: block;
}

.atcb-item.hover,
.atcb-item:hover {
  position: relative;
  z-index: 900;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

ul.atcb-list {
  list-style: none;
}

ul.atcb-list li {
  margin-bottom: 0.6875em;
  padding-left: 1.4375em;
  background-image: url("../svg/arrow_right.svg");
  background-position: 0px 50%;
  background-size: 0.6875em;
  background-repeat: no-repeat;
}

.date-box {
  display: block;
  width: 60%;
  height: 50%;
  margin-top: 1.875em;
  margin-right: auto;
  margin-left: auto;
  font-family: 'FB Hermes', sans-serif;
}

.date-box .day-box {
  display: block;
  width: 100%;
  height: 60%;
  max-width: 11.875em;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.date-box .day-box .day {
  color: black;
  padding-top: 0.85em;
  font-size: 2.8em;
  position: relative;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.date-box .month-box {
  display: block;
  width: 100%;
  height: 40%;
  max-width: 11.875em;
  margin-right: auto;
  margin-left: auto;
  background-color: #b11149;
}

.date-box .month-box .month {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.65em;
  color: white;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.factbox.paragraph--type--download {
  padding-right: 20%;
  background-image: url("../svg/download_back.svg"), linear-gradient(180deg, #f3f3f3, #d9d9d6);
  background-position: 100% 50%, 0 0;
  background-size: 215px, auto;
  background-repeat: no-repeat, repeat;
}

@media screen and (max-width: 1024px) {
  .factbox.paragraph--type--download {
    background-position: 100% 50%, 0 0;
    background-size: 120px, auto;
  }
}

@media screen and (max-width: 772px) {
  .factbox.paragraph--type--download {
    background-color: #f3f3f3;
    background-image: linear-gradient(180deg,#f3f3f3, #d9d9d6);
    background-size: auto;
    padding-right: 27px;
  }
}

.factbox.paragraph--type--download.span-4, .factbox.paragraph--type--download.span-6, .factbox.paragraph--type--download.span-8 {
  background-color: #f3f3f3;
  background-image: linear-gradient(180deg,#f3f3f3, #d9d9d6);
  background-size: auto;
  padding-right: 27px;
}

.site-search {
  text-align: center;
}

.search-input[type='text'] {
  width: 70%;
  display: inline-block;
  height: auto;
  margin-top: 6px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 57px;
  float: none;
  border: 2px dashed #a79d96;
  border-radius: 2px;
  background-image: url("../svg/magnifier.svg");
  background-position: 7px 50%;
  background-size: 40px;
  background-repeat: no-repeat;
  color: #837870;
  font-size: 1.3em;
  line-height: 120%;
}

.search-input[type='text']:focus {
  outline: none;
  border-color: #3898ec;
}

.page .gsc-results table {
  border-collapse: separate;
}

.page .gsc-results .gsc-control-cse,
.page .gsc-results .gsc-control-cse .gsc-table-result {
  font-family: Calibri, sans-serif;
  font-size: 16px;
}

.page .gsc-results .gsc-cursor-box {
  text-align: center;
}

.page .gsc-results .gsc-cursor-box .gsc-cursor-page {
  cursor: pointer;
}

.page .gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
  background-color: #e1477d;
  color: white;
  text-decoration: none;
}

.page .gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page {
  background-color: #837870;
  text-decoration: none;
  color: white;
}

.gsc-control-cse {
  padding: 5% 0 !important;
}

.region--header__logo {
  text-align: center;
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  padding: 5px 0;
}

.region--header__logo:last-child {
  margin-right: 0;
}

.region--header__logo img {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .region--header__logo {
    padding: 0;
  }
  .region--header__logo img {
    max-height: 140px;
  }
}

@media screen and (max-width: 772px) {
  .region--header__logo {
    padding: 0;
  }
  .region--header__logo img {
    max-height: 60px;
  }
}

.region--header__sonderborg {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  position: relative;
  max-height: 350px;
  overflow: hidden;
  padding: 5px 0px;
  text-align: center;
  height: 100%;
}

.region--header__sonderborg:last-child {
  margin-right: 0;
}

@media screen and (max-width: 772px) {
  .region--header__sonderborg {
    height: 70px;
    min-height: 10px;
    padding: 0;
    text-align: center;
  }
}

.region--header__sonderborg .region--header__sonderborg__image-wrapper {
  width: 50%;
  height: 100%;
  float: right;
  background-image: url("../images/sonderborg_logo.png");
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
}

.region--header__sonderborg .region--header__sonderborg__image-wrapper img {
  max-width: 150px;
}

@media screen and (max-width: 1024px) {
  .region--header__sonderborg .region--header__sonderborg__image-wrapper {
    float: none;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 772px) {
  .region--header__sonderborg .region--header__sonderborg__image-wrapper img {
    max-width: 115px;
  }
}

@media screen and (max-width: 768px) {
  .region--header__sonderborg .region--header__sonderborg__image-wrapper img {
    max-width: 130px;
    padding-top: 8px;
  }
}

.region--header__tasks {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  position: relative;
  height: 100%;
  padding-top: 56px;
  padding-left: 4%;
}

.region--header__tasks:last-child {
  margin-right: 0;
}

@media screen and (max-width: 772px) {
  .region--header__tasks {
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .region--header__tasks {
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .region--header__tasks .date,
  .region--header__tasks .clock {
    display: none;
  }
}

.region--header__logo__image-wrapper {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 100%;
}

#block-camp-branding {
  display: block;
  width: 100%;
  float: left;
  z-index: 1100;
  height: 15vh;
  min-height: 150px;
  margin-top: 15px;
}

@media screen and (max-width: 772px) {
  #block-camp-branding {
    height: 70px;
    min-height: 10px;
  }
}

.date {
  color: #aeaeae;
}

.date--header {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 11px;
}

.figure {
  margin-bottom: 10px;
}

.figcaption {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-right: 10%;
  padding-left: 10%;
  color: #837870;
  text-align: center;
  font-size: 1.2em;
}

.paragraph--type--infomercial {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .paragraph--type--infomercial {
    font-size: 0.875em;
  }
}

.paragraph--type--infomercial h1, .paragraph--type--infomercial h2 {
  color: white;
  text-align: center;
}

.paragraph--type--infomercial h1 {
  font-size: 6.07143em;
  text-shadow: 1px 1px 18px rgba(0, 0, 0, 0.27);
}

.paragraph--type--infomercial h2 {
  font-size: 1.85714em;
  font-family: 'FB Hermes', sans-serif;
}

@media screen and (max-width: 1024px) {
  .paragraph--type--infomercial {
    font-size: 0.875em;
  }
  .paragraph--type--infomercial h1 {
    font-size: 4.28571em;
    margin-bottom: 0.35714em;
  }
  .paragraph--type--infomercial h2 {
    font-size: 2.14286em;
  }
}

@media screen and (max-width: 772px) {
  .paragraph--type--infomercial {
    font-size: 0.625em;
  }
}

.paragraph--type--infomercial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 57.14286em;
  padding-right: 10%;
  padding-left: 10%;
  box-orient: vertical;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background-position: 0 0, 50% 50%;
  background-size: auto, cover;
}

@media screen and (max-width: 1024px) {
  .paragraph--type--infomercial {
    min-height: 42.85714em;
    padding-right: 3%;
    padding-left: 3%;
    background-position: 0px 0px, 50% 50%;
  }
}

.infomercial-call-ta {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

@media screen and (max-width: 772px) {
  .infomercial-call-ta {
    margin-top: 1.42857em;
    margin-bottom: 1.42857em;
  }
}

.infomercial-call-ta a {
  margin: 0.85714em;
  font-size: 1.2em;
  font-family: 'FB Hermes', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.78571em 1.35714em 0.71429em;
}

.infomercial-call-ta a:hover {
  background-color: #b11149;
}

@media screen and (max-width: 772px) {
  .infomercial-call-ta a {
    width: 80%;
    font-size: 1.8em;
    margin: 0.57143em;
    padding: 0.85714em 1.5em 0.85714em;
  }
}

.path-frontpage .paragraph--type--infomercial {
  margin-top: 45px;
  display: inline-block;
}

.pager__item, .page .gsc-results .gsc-cursor-box .gsc-cursor-page {
  width: auto;
  height: auto;
  margin-right: 9px;
  padding: 11px 19px 9px;
  background-color: rgba(167, 157, 149, 0.2);
  color: #837870;
  font-family: 'FB Hermes', sans-serif;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.pager__item--next, .pager__item--previous {
  width: 50px;
}

.pager__item--next:hover, .pager__item--previous:hover {
  background-color: #e1477d;
}

.pager__item--next:before, .pager__item--previous:before {
  background-image: url("../svg/arrow_right.svg");
  background-position: 50% 50%;
  background-size: 15%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.pager__item--previous:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.paragraph {
  margin-bottom: 25px;
}

.field--name-field-paragraph-text p:last-child {
  margin-bottom: 0;
}

.node--view-mode-teaser img {
  float: left;
  margin: 0 15px 0 0;
}

@media screen and (max-width: 768px) {
  .node--view-mode-teaser img {
    margin-bottom: 10px;
  }
}

ul.news--teaser-list {
  list-style-type: none;
}

ul.news--teaser-list h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  ul.news--teaser-list h2 {
    clear: both;
  }
}

ul.news--teaser-list .date-field {
  margin-top: 0;
}

ul.news--teaser-list a {
  text-decoration: none;
}

ul.news--teaser-list p {
  margin-bottom: 26px;
}

ul.news--teaser-list li {
  padding: 10px;
  overflow: auto;
  margin: 0;
}

ul.news--teaser-list li:hover {
  background: #f8f8f8;
}

@media screen and (max-width: 772px) {
  ul.news--teaser-list p {
    margin-bottom: 16px;
  }
  ul.news--teaser-list li {
    margin-bottom: 20px;
  }
}

.ticket-wrapper {
  height: 50%;
  width: 80%;
  float: left;
  display: block;
  margin-left: 10%;
}

.ticket {
  display: block;
  text-align: left;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url("../svg/ticket.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.ticket:hover {
  -webkit-transform: rotate(-4deg) scale(1.1);
  -ms-transform: rotate(-4deg) scale(1.1);
  transform: rotate(-4deg) scale(1.1);
}

.ticket .ticket-text-container {
  margin-left: 1.875em;
}

.ticket__content {
  position: relative;
  top: 18%;
  left: 3%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 3.625em;
}

@media screen and (max-width: 1024px) {
  .ticket__content {
    line-height: 2.625em;
  }
}

.ticket .ticket-label {
  font-family: 'FB Hermes', sans-serif;
  color: #a79d96;
  font-size: 1.125em;
  text-transform: uppercase;
}

.ticket .ticket-price {
  font-family: 'FB Hermes', sans-serif;
  font-size: 3.6vw;
  color: black;
}

@media screen and (max-width: 1024px) {
  .ticket .ticket-price {
    font-size: 2.625em;
  }
}

.three-col-deck h3.trompet {
  margin-bottom: 6%;
}

.top-cover-outer {
  margin-right: 15px;
  margin-left: 15px;
  background-position: 0 0, 50% 50%;
  background-size: cover;
}

.top-cover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
  height: 50vh;
  margin-bottom: 88px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  -ms-flex-direction: normal;
  box-align: center;
  -ms-flex-align: center;
  box-orient: vertical;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  box-pack: center;
  -ms-flex-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 76px 15%;
}

@media screen and (max-width: 772px) {
  .top-cover {
    height: 25vh;
    padding: 10px 2%;
    margin-bottom: 60px;
  }
}

.top-cover-headline {
  font-family: 'FB Hermes', sans-serif;
  text-align: center;
  font-size: 2.6rem;
  line-height: 140%;
  margin-bottom: 46px;
}

.top-cover-headline span {
  padding-right: 7px;
  padding-left: 7px;
}

@media screen and (max-width: 772px) {
  .top-cover-headline {
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
}

.top-cover-sub-headline {
  font-family: 'FB Hermes', sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 62px;
}

.top-cover-sub-headline span {
  padding: 10px;
}

@media screen and (max-width: 772px) {
  .top-cover-sub-headline {
    margin-bottom: 30px;
    font-size: 0.8rem;
  }
}

.top-cover-credit {
  padding: 3px;
  font-size: 1em;
}

@media screen and (max-width: 772px) {
  .top-cover-credit {
    padding: 0;
  }
}

.slant-left {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.slant-right {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.bg-black {
  background-color: #000;
  color: #fff;
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.text-uppercase {
  text-transform: uppercase;
}

.newsletter-deck__bg-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-image: url("../images/fritlagt.png");
  background-position: 158% 7%;
  background-size: 80%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1808px) {
  .newsletter-deck__bg-image {
    background-position: 196% 100%;
    background-size: 79%;
  }
}

@media screen and (max-width: 1024px) {
  .newsletter-deck__bg-image {
    background-position: 410px bottom;
    background-size: 96%;
  }
}

@media screen and (max-width: 500px) {
  .newsletter-deck__bg-image {
    background-position: 208px bottom;
  }
}

.newsletter-deck__bg-color {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(180deg, #f3f3f3 4%, #edebea 91%);
}

@media screen and (max-width: 1260px) {
  .newsletter-deck__bg-color {
    height: 70%;
  }
}

@media screen and (max-width: 772px) {
  .newsletter-deck__bg-color {
    height: 100%;
  }
}

.newsletter-deck {
  min-height: 900px;
  position: relative;
  margin-top: 75px;
  overflow: hidden;
  z-index: 1;
  float: left;
  width: 100%;
  margin-bottom: 200px;
  max-width: 100%;
}

@media screen and (max-width: 1455px) {
  .newsletter-deck {
    min-height: 750px;
  }
}

@media screen and (max-width: 1260px) {
  .newsletter-deck {
    min-height: 650px;
  }
}

@media screen and (max-width: 1024px) {
  .newsletter-deck {
    min-height: 600px;
    margin: 0 0 120px;
  }
}

.newsletter-deck__signup {
  z-index: 2000;
  display: block;
  width: 480px;
  top: 40%;
  position: absolute;
  left: 23%;
}

@media screen and (max-width: 1024px) {
  .newsletter-deck__signup {
    left: 14%;
  }
}

@media screen and (max-width: 772px) {
  .newsletter-deck__signup {
    position: relative;
    margin: 0;
    padding: 15px;
    left: 0;
  }
  .newsletter-deck__signup .mc-input {
    width: 100%;
  }
}

.newsletter-deck__title {
  margin-top: 0px;
  margin-bottom: 6px;
  font-family: 'FB Hermes', sans-serif;
  color: #e1477d;
  font-size: 2em;
  text-transform: uppercase;
}

.newsletter-deck__trompet {
  font-family: 'FB Hermes', sans-serif;
  color: #a79d96;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.partners {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
}

@media screen and (max-width: 1024px) {
  .partners {
    padding: 0 20px;
  }
}

.partners__links a {
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
  padding: 13px 20px;
  float: right;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'FB Hermes', sans-serif;
  letter-spacing: 0.04em;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

@media screen and (max-width: 772px) {
  .partners__links a {
    float: none;
    height: auto;
    margin-bottom: 8px;
    padding: 11px 12px;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 772px) {
  .partners__links {
    text-align: center;
    padding-top: 13px;
  }
}

.partners__title {
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: 'FB Hermes', sans-serif;
  color: #e1477d;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
}

@media screen and (max-width: 772px) {
  .partners__title {
    font-size: 1.6em;
  }
}

.partners_text {
  margin-top: 24px;
  display: inline-block;
}

.paragraph--type--partners {
  position: relative;
  height: 80vh;
  min-height: 800px;
  width: 100%;
  display: block;
  clear: both;
}

.paragraph--type--partners h4 {
  color: #a79d96;
  font-size: 1.3em;
  text-transform: uppercase;
}

@media screen and (max-width: 772px) {
  .paragraph--type--partners .span-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .paragraph--type--partners .span-6:last-child {
    margin-right: 0;
  }
}

.partners__images {
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 10vh;
  text-align: center;
}

.partners__images img {
  margin: 0 5%;
}

@media screen and (max-width: 772px) {
  .partners_header {
    text-align: center;
  }
}

.sponsor-block {
  display: inline-block;
  width: 23%;
  height: 100%;
  margin-bottom: 50px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.sponsor-block a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

@media screen and (max-width: 772px) {
  .sponsor-block {
    float: left;
    width: 50%;
  }
}

.footer {
  position: relative;
  height: auto;
  min-height: 250px;
  padding: 46px 5% 45px;
  background-color: #2bb6b7;
  background-image: linear-gradient(180deg, rgba(43, 182, 183, 0.92), rgba(43, 182, 183, 0.92)), url("../images/footer_bg.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  float: left;
  width: 100%;
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 772px) {
  .footer [class^="span-"], .footer [class*=" span-"] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .footer [class^="span-"]:last-child, .footer [class*=" span-"]:last-child {
    margin-right: 0;
  }
}

.footer .mc-field-group:first-child {
  margin-top: 30px;
}

.footer .footer-col-1 p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1em;
  line-height: 130%;
  font-style: italic;
}

.footer h2, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer p {
  color: white;
}

.footer p, .footer a {
  color: #fff;
  line-height: 140%;
  margin: 0;
}

.footer p {
  font-size: 1.3em;
}

.footer a {
  font-size: 1em;
}

.footer h5 {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'FB Hermes', sans-serif;
  color: white;
  font-size: 2em;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
}

.footer h6 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'FB Hermes', sans-serif;
  color: #333333;
  font-size: 1.3em;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .footer-col-3 h5:not(:first-child),
.footer .footer-col-3 h6:not(:first-child) {
  margin-top: 40px;
}

.footer .social-holder {
  margin-top: 30px;
}

.footer .form-email-forside {
  width: 100%;
  float: left;
  display: block;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.socail-holder.social-footer {
  width: 100%;
}

.follow-cell {
  padding-right: 52px;
  padding-bottom: 50px;
}

.mc-input {
  max-width: 300px;
}

.mc-field-group {
  width: 100%;
  margin: 0 0 10px;
  display: inline-block;
}

.mc-submit {
  margin: 0 !important;
  margin-bottom: 40px !important;
}

a[href^=tel] {
  margin-bottom: 10px;
}

a[href^=tel]:before {
  display: inline-block;
  margin-right: 10px;
}

a[href^=mailto] {
  margin-bottom: 10px;
}

a[href^=mailto]:before {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  left: 1px;
  position: relative;
}

.icon-logo_alt--footer {
  text-align: left;
  color: white;
  font-size: 70px;
  margin-left: 20px;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .icon-logo_alt--footer {
    font-size: 38px;
  }
}

.three-col-deck {
  box-sizing: border-box;
  width: 100%;
}

.three-col-deck .col-deck {
  width: 33.33333%;
  float: left;
}

.three-col-deck .col-deck .deck-inner {
  text-align: center;
  padding: 1.8125em 0.9375em 0.9375em;
}

.three-col-deck .deck-inner {
  height: 100%;
}

.three-col-deck .col-deck-left .deck-inner,
.three-col-deck .col-deck-right .deck-inner {
  height: 90%;
  margin-top: 3%;
}

@media screen and (max-width: 772px) {
  .three-col-deck .col-deck {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .three-col-deck .col-deck:last-child {
    margin-right: 0;
  }
}

.three-col-deck {
  font-size: 16px;
  height: 40vh;
  min-height: 416px;
}

@media screen and (max-width: 1024px) {
  .three-col-deck {
    font-size: 14px;
    height: 24vh;
  }
}

.three-col-deck .col-deck {
  height: 100%;
}

.three-col-deck {
  color: #a79d96;
}

.three-col-deck h3 {
  color: #a79d96;
}

.three-col-deck .focus a {
  color: white;
}

.three-col-deck .focus {
  z-index: 500;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.19), 6px 6px 13px 0 rgba(0, 0, 0, 0.04);
}

.three-col-deck .focus .deck-inner {
  border-style: none solid solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.three-col-deck .focus.col-deck {
  position: relative;
}

.three-col-deck .focus h3 {
  color: white;
}

.three-col-deck h3 {
  margin: 0;
  font-size: 0.9375em;
}

@media screen and (max-width: 1024px) {
  .three-col-deck h3 {
    font-size: 1.25em;
    padding-top: 0;
  }
}

.three-col-deck .centered li {
  margin-top: 0.875em;
}

.three-col-deck .centered li a {
  font-family: 'FB Hermes', sans-serif;
  color: black;
  font-size: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .three-col-deck .centered li a {
    font-size: 1.3em;
  }
}

.three-col-deck .centered li a:hover {
  color: #2bb6b7;
}

.link-container {
  position: relative;
  float: left;
  width: 100%;
  margin: 7% 0 0;
}

.link-container .iconlink a.with-icon {
  color: white;
}

.link-container .iconlink a.with-icon:hover {
  color: #333333;
}

@media screen and (max-width: 772px) {
  .link-container {
    margin: 4% 0 0;
  }
}

.addtocalendar {
  font-size: 0.8em;
  padding: 0.0125em;
}

.addtocalendar ul {
  padding: 0.3125em;
  background-color: rgba(255, 255, 255, 0.7);
}

.iconlink {
  display: inline-block;
  width: 100%;
  font-family: Calibri Bold, sans-serif;
  text-transform: none;
  font-size: 1.2em;
  padding-top: 1em;
}

.iconlink a.with-icon {
  text-decoration: none;
  padding-left: 2.1875em;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #5a5a5a;
}

.iconlink.calendar-link a.with-icon {
  background-image: url("../images/calendar.png");
  font-size: 1.25em;
  height: 26px;
  line-height: 26px;
}

.iconlink.help-link a.with-icon {
  background-image: url("../svg/help.svg");
}

.iconlink.cost-link a.with-icon {
  background-image: url("../svg/wallet.svg");
}

.page-node-type-article .node__content {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.page-node-type-article .node__content .node__content {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.view-id-news {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

#main-content {
  display: block;
}

#main-content::after {
  clear: both;
  content: "";
  display: table;
}

.juicebox-parent {
  float: none;
  height: 705px;
  width: 100%;
  margin: 3px auto;
}

.juicebox-parent img {
  max-width: 100%;
}

.path-user .region-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.path-user .region-content::after {
  clear: both;
  content: "";
  display: table;
}

.path-user .user-login-form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 250px;
  max-width: 100%;
}

.path-user .user-login-form .form-submit {
  min-width: 250px;
  float: right;
}

.contained, .page-title {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

body:not(.path-frontpage) .node__content {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

body:not(.path-frontpage) .node__content .node__content {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.nav-search {
  font-family: Calibri, sans-serif;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.42857em;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: white;
  padding: 0vh 10% 10vh;
  margin: 0;
  transition: opacity 350ms, -webkit-transform 250ms;
  transition: opacity 350ms, transform 250ms;
  transition: opacity 350ms, transform 250ms, -webkit-transform 250ms;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translateX(0px) translateY(-20px) translateZ(0px) scaleX(1) scaleY(0.95) scaleZ(1);
  transform: translateX(0px) translateY(-20px) translateZ(0px) scaleX(1) scaleY(0.95) scaleZ(1);
  transition: opacity 350ms, -webkit-transform 350ms;
  transition: opacity 350ms, transform 350ms;
  transition: opacity 350ms, transform 350ms, -webkit-transform 350ms;
  z-index: -9999;
}

.nav-search.js-active {
  opacity: 1;
  -webkit-transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
  transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
  display: block;
  transition: opacity 350ms, -webkit-transform 250ms;
  transition: opacity 350ms, transform 250ms;
  transition: opacity 350ms, transform 250ms, -webkit-transform 250ms;
  z-index: 1000;
}

.form-search {
  margin-top: 8vh;
}

/*# sourceMappingURL=sourcemaps/camp.main.css.map */
